@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,500;0,600;1,300&display=swap");
* {
  box-sizing: border-box;
}

header {
  background-image: url("../img/bg-tecnologia-compressed.png");
  background-color: #aa5a6d;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  max-height: 1000px;
}
header .contenedor body.dark {
  background: #001A2C;
}
header .contenedor .menu {
  margin: 40px 0;
  text-align: right;
}
header .contenedor .menu a {
  margin: 0px 20px;
  color: #f2f2f2;
  padding-bottom: 9px;
  display: inline-block;
  text-decoration: none;
  font-size: 1.3rem;
  position: relative;
}
header .contenedor .menu a:hover {
  text-decoration: underline;
}
header .contenedor .menu .switch {
  background: #343d5b;
  position: relative;
  border-radius: 1000px;
  border: none;
  display: inline-block;
  position: relative;
  margin-right: 0.2rem;
  cursor: pointer;
  outline: none;
  transition: 0.3s ease all;
}
header .contenedor .menu .switch::after {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 50%;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
header .contenedor .menu .switch.active {
  background: #3d7adb;
  transition: 0.3s ease all;
  color: black;
}
header .contenedor .menu .switch.active::after {
  right: 0;
  left: unset;
}
header .contenedor .menu .switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: none;
  color: white;
  padding: 0 0.4rem;
}
header .contenedor-texto {
  display: flex;
  margin: 190px;
  justify-content: center;
  align-content: center;
}
header .contenedor-texto .textos {
  background: rgba(173, 181, 189, 0.9);
  border-radius: 5px;
  box-shadow: 0px 0px 6px rgba(16, 21, 27, 0.6);
  display: inline-block;
  text-align: center;
  padding: 20px 60px;
  transition: 0.3s ease all;
}
body.dark header .contenedor-texto .textos {
  color: #f2f2f2;
  background: rgba(0, 26, 44, 0.9);
}
header .contenedor-texto .textos h1, header .contenedor-texto .textos h2 {
  color: #002137;
  font-weight: 300;
  margin: 0;
}
body.dark header .contenedor-texto .textos h1, body.dark header .contenedor-texto .textos h2 {
  color: #f2f2f2;
}
header .contenedor-texto .textos .nombre {
  margin-bottom: 10px;
  font-size: 50px;
  line-height: 50px;
}
header .contenedor-texto .textos .profesion {
  font-size: 25px;
  line-height: 25px;
}

/* --------- MAIN --------- */
.main .contenedor {
  overflow: visible;
}
.main .acerca-de {
  text-align: center;
  transition: 0.3s ease all;
}
.main .acerca-de .foto {
  margin-top: -60px;
}
.main .acerca-de .foto img {
  vertical-align: top;
  border-radius: 50%;
  border: 5px solid rgba(222, 226, 230, 0.7);
  transition: 0.3s ease all;
}
body.dark .main .acerca-de .foto img {
  border: 5px solid rgba(0, 37, 62, 0.8);
}
.main .acerca-de .texto {
  color: #5a5a5a;
  font-weight: 600;
  font-size: 1em;
  line-height: 30px;
  width: 80%;
  margin: 40px auto 60px auto;
  transition: 0.3s ease all;
}
body.dark .main .acerca-de .texto {
  color: #f2f2f2;
}
.main .acerca-de .texto .titulo {
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 40px;
  font-weight: 300;
  color: #2E343A;
  text-align: center;
  transition: 0.3s ease all;
}
body.dark .main .acerca-de .texto .titulo {
  color: #f2f2f2;
}
.main .acerca-de .texto .bold {
  color: #3895ea;
  text-decoration: underline;
}

/* --------- TRABAJOS -------- */
.section-carousel {
  background: #DEE2E6;
  padding: 2rem 0.5rem;
}
body.dark .section-carousel {
  background: #00253E;
}
.section-carousel .titulo {
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 40px;
  font-weight: 300;
  color: #2E343A;
  text-align: center;
}
body.dark .section-carousel .titulo {
  color: #f2f2f2;
}

.carousel-inner {
  max-width: 1000px;
  max-height: 600px;
  margin: 0 auto;
  box-shadow: 2px 2px 15px #161722;
}
.carousel-inner img {
  object-fit: contain;
  width: 100%;
}
.carousel-inner .carousel-caption {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fcfcfc;
  text-align: center;
  border-radius: 0.5rem;
  background-color: rgba(30, 38, 40, 0.8);
}
.carousel-inner .carousel-caption h5, .carousel-inner .carousel-caption p {
  color: #fcfcfc;
}

.main .trabajos {
  background: white;
  padding: 60px 0;
}
body.dark .main .trabajos {
  color: white;
  background: #00111C;
}
.main .trabajos .contenedor {
  overflow: visible;
}
.main .trabajos .titulo {
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 40px;
  font-weight: 300;
  color: #323068;
  text-align: center;
}
body.dark .main .trabajos .titulo {
  color: #f2f2f2;
}
.main .trabajos .contenedor-trabajos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main .trabajos .contenedor-trabajos .trabajo {
  width: 32%;
  margin-bottom: 40px;
}
.main .trabajos .contenedor-trabajos .trabajo .thumb {
  width: 100%;
  margin-bottom: 10px;
}
.main .trabajos .contenedor-trabajos .trabajo img {
  width: 100%;
  vertical-align: top;
  border-radius: 0.5rem;
  transition: 0.3s ease;
  box-shadow: 1px 1px 10px #000;
}
.main .trabajos .contenedor-trabajos .trabajo img:hover {
  animation: zoomInOut 1.5s infinite;
}
.main .trabajos .contenedor-trabajos .trabajo .descripcion {
  text-align: center;
}
.main .trabajos .contenedor-trabajos .trabajo .nombre {
  font-weight: 700;
  color: #3895ea;
  margin-bottom: 5px;
}
.main .trabajos .contenedor-trabajos .trabajo .categoria {
  font-size: 14px;
  color: #636363;
}
body.dark .main .trabajos .contenedor-trabajos .trabajo .categoria {
  color: #f2f2f2;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
footer {
  background: #DEE2E6;
}
body.dark footer {
  background: #00253E;
}
footer .contacto {
  padding: 30px 20px 0px 20px;
}
footer .btn-goUp {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
  padding: 0.5rem;
}
footer .btn-goUp .btn {
  background: #3d7adb;
  border-radius: 0.2rem;
  padding: 0 0.7rem;
  outline: none;
  border: none;
}
footer .btn-goUp .btn:hover {
  background: #0e6aff;
}
footer .titulo {
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 40px;
  font-weight: 300;
  color: #2E343A;
  text-align: center;
  outline: none;
}
body.dark footer .titulo {
  color: #f2f2f2;
}
footer form {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  padding-bottom: 0;
}
footer form .section-inputs {
  display: flex;
  gap: 10px;
}
footer form label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 2rem;
}
footer form label span {
  font-weight: 600;
  text-align: center;
  color: #2E343A;
}
body.dark footer form label span {
  color: #f2f2f2;
}
footer form label input, footer form label textarea {
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2901960784);
  padding: 0.5rem 1rem;
  outline: none;
  font-size: 14pt;
  transition: 0.3s ease;
  color: #2E343A;
  text-align: center;
}
body.dark footer form label input, body.dark footer form label textarea {
  background-color: #00111C;
  color: #f2f2f2;
}
footer form label input:hover, footer form label textarea:hover {
  box-shadow: 0px 0px 5px #3d7adb;
}
footer form label input:focus, footer form label textarea:focus {
  border: 1px solid #3d7adb;
  box-shadow: 0px 0px 8px #3d7adb;
}
footer form .submit {
  background-color: #EA4C89;
  border: none;
  border-radius: 0.5rem;
  padding: 0.8rem;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}
footer form .submit:hover {
  opacity: 0.75;
}
footer .redes-sociales {
  background: #495057;
  padding-top: 60px;
}
body.dark footer .redes-sociales {
  background: #00111C;
}
footer .redes-sociales .contenedor {
  display: flex;
  justify-content: center;
}
footer .redes-sociales a {
  color: white;
  text-align: center;
  width: 100px;
  display: block;
  padding: 15px 0;
  border-radius: 3px;
  font-size: 30px;
  margin: 0 20px;
  transition: 0.3s ease;
}
footer .redes-sociales .youtube:hover {
  background: #ff0000;
}
footer .redes-sociales .instagram:hover {
  background: #833ab4;
}
footer .redes-sociales .facebook:hover {
  background: #1877f2;
}
footer .redes-sociales .linkedin:hover {
  background: #0077b5;
}
footer .redes-sociales .github:hover {
  background: #6cc644;
}

/* --------- MEDA QUERIES ---------- */
@media screen and (max-width: 917px) {
  header .contenedor .menu {
    text-align: center;
  }
  header .contenedor .contenedor-texto {
    margin: 100px;
  }
  header .contenedor .contenedor-texto .textos .nombre {
    font-size: 30px;
  }
  header .contenedor .contenedor-texto .textos .profesion {
    font-size: 20px;
  }
  header .main .trabajos .contenedor-trabajos {
    justify-content: space-around;
  }
  header .main .trabajos .contenedor-trabajos .trabajo {
    width: 46%;
  }
}
@media screen and (max-width: 556px) {
  header .contenedor .contenedor-texto {
    margin: 15px;
    margin-top: 80px;
    margin-bottom: 100px;
  }
  .main .trabajos .contenedor-trabajos {
    flex-direction: column;
    align-items: center;
  }
  .main .trabajos .contenedor-trabajos .trabajo {
    width: 100%;
    max-width: 300px;
    margin-bottom: 25px;
  }
  footer .section-inputs {
    flex-direction: column;
  }
  footer .redes-sociales .contenedor {
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
  }
}
body {
  background: #fff;
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
}
body.dark {
  transition: 0.3s ease all;
  background: #00111C;
}

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

/*# sourceMappingURL=styles.css.map */
