footer {
    background: #DEE2E6;
    body.dark & {
        background: #00253E;
    }
    .contacto {
        padding: 30px 20px 0px 20px;
    }
    .btn-goUp {
        display: flex;
        justify-content: flex-end;
        margin: 1rem 0;
        padding: 0.5rem;
        .btn {
            background: #3d7adb;
            border-radius: 0.2rem;
            padding: 0 0.7rem;
            outline: none;
            border: none;
            &:hover {
                background: #0e6aff;
            }
        }
    }
    .titulo {
        font-size: 34px;
        line-height: 34px;
        margin-bottom: 40px;
        font-weight: 300;
        color: #2E343A;
        text-align: center;
        outline: none;
        body.dark & {
            color: #f2f2f2;
        }
    }
    form {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        padding-bottom: 0;
        .section-inputs {
            display: flex;
            gap: 10px;
        }
        label {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-bottom: 2rem;
            span {
                font-weight: 600;
                text-align: center;
                color: #2E343A;
                body.dark & {
                    color: #f2f2f2;
                }
            }
            input, textarea {
                width: 100%;
                background-color: #f2f2f2;
                border-radius: 0.5rem;
                border: 1px solid transparent;
                box-shadow: 0px 0px 5px #0000004a;
                padding: 0.5rem 1rem;
                outline: none;
                font-size: 14pt;
                transition: 0.3s ease;
                color: #2E343A;
                text-align: center;
                body.dark & {
                    background-color: #00111C;
                    color: #f2f2f2;
                }
                &:hover {
                    box-shadow: 0px 0px 5px #3d7adb;
                }
                &:focus {
                    border: 1px solid #3d7adb;
                    box-shadow: 0px 0px 8px #3d7adb;
                }
            }
        }
        .submit {
            background-color: #EA4C89;
            border: none;
            border-radius: 0.5rem;
            padding: 0.8rem;
            color: #fff;
            font-weight: 700;
            font-size: 1rem;
            cursor: pointer;
            transition: 0.3s ease;
            &:hover {
                opacity: 0.75;
            }
        }
    }
    .redes-sociales {
        background: #495057;
        padding-top: 60px;
        body.dark & {
            background: #00111C;
        }
        .contenedor {
            display: flex;
            justify-content: center;
        }
        a {
            color: white;
            text-align: center;
            width: 100px;
            display: block;
            padding: 15px 0;
            border-radius: 3px;
            font-size: 30px;
            margin: 0 20px;
            transition: 0.3s ease;
        }
        .youtube:hover {background:#ff0000;}
        .instagram:hover {background: #833ab4;}
        .facebook:hover {background: #1877f2;}
        .linkedin:hover {background: #0077b5;}
        .github:hover {background: #6cc644;}
    }
}
