/* --------- MAIN --------- */
.main {
    .contenedor {
        overflow: visible;
    }
    .acerca-de {
        text-align: center;
        .foto {
            margin-top: -60px;
            img {
                vertical-align: top;
                border-radius: 50%;
                border: 5px solid rgba(38, 42, 52, 0.6);
                
            }
        }
        .texto {
            color: #5a5a5a;
            font-weight: 600;
            font-size: 1em;
            line-height: 30px;
            width: 80%;
            margin: 40px auto 60px auto;
            .titulo {
                font-size: 34px;
                line-height: 34px;
                margin-bottom: 40px;
                font-weight: 300;
                color: #2E343A;
                text-align: center;
            }
            .bold {
                color: #3895ea;
                text-decoration: underline;
            }
        }
    }
}