/* Button Styles with Pulse Effect */

.btn {
    border-radius: 9999px;
    font-family: var(--font-primary);
    color: var(--color-secondary);
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 500;
    backdrop-filter: blur(10px);
    text-transform: uppercase;
    background-color: transparent;
    transition: 0.3s ease all;
    border: 1px solid var(--color-accent);
    box-shadow: 0px 4.42184px 40.23px var(--color-shadow);
    animation: pulse 1.5s infinite ease-in-out;
    /* Pulse animation added */
}

.btn:hover {
    color: var(--color-background);
    background-color: var(--color-accent);
    border: 1px solid var(--color-accent);
    transform: scale(1.05);
    /* Slight zoom on hover */
}

.btn-sm {
    height: 3rem;
    padding: 0.375rem 1.5rem;
    font-size: 0.875rem;
}

.btn-lg {
    height: 3.5rem;
    padding: 0.625rem 2.5rem;
    font-size: 1rem;
}

.btn-link {
    font-size: 1rem;
}

/* Modal Button */
.button__modal {
    color: white;
    font-family: var(--font-tertiary);
    font-size: var(--font-small);
    background-color: transparent;
    padding-bottom: 2px;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid var(--color-accent);
    transition: 0.2s ease all;
}

/* Disabled Button */
.btn-disabled {
    background-color: grey;
    border: transparent;
    animation: none;
    /* Disable pulse animation */
    cursor: not-allowed;
}

.btn-disabled:hover {
    background-color: grey;
    border: transparent;
    cursor: not-allowed;
}

/* Pulse Animation */
@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        /* Subtle shadow in normal state */
    }

    50% {
        transform: scale(1.15);
        /* Slightly larger */
        box-shadow: 0 0 10px var(--color-primary), 0 0 20px var(--color-primary);
        /* Brighter glow in pulse */
    }
}