.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 16px;
    gap: 3rem;
    min-height: 100vh;
}

.text {
    font-family: var(--font-secondary);
    text-align: left;
}

.text__h1 {
    font-size: var(--font-display);
    font-weight: 700;
    line-height: 0.8;
    margin-bottom: var(--spacing-5);
}

.text__span,
.text__animation {
    color: #fffffff3;
    font-size: var(--font-xlarge);
    font-family: var(--font-secondary);
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
}

.text__animation {
    color: var(--color-accent);
}

.text__description {
    font-family: var(--font-secondary);
    font-size: var(--font-xmedium);
    margin: 1.5rem 0 2rem 0;
    font-weight: 400;
    max-width: 40rem;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.904);
}

.buttons {
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}

.header__picture {
    display: flex;
    flex: 1;
    width: 480px;
}

.header__picture-img {
    max-width: 100%;
}


/* --MEDIAQUERIES-- */

@media (width <=1200px) {
    .header__picture-img {
        min-width: 320px;
        height: auto;
    }

    .text__h1 {
        font-size: var(--font-jumbo);
    }

    .text__description {
        max-width: 28rem;
        margin: var(--spacing-12) 0;
    }

    .text__span,
    .text__animation {
        font-size: var(--font-large);
    }

    .buttons {
        gap: var(--spacing-8);
    }
}


@media (width <=960px) {
    header {
        justify-content: center;
    }

    .text {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .text__h1 {
        font-size: var(--font-xlarge);
    }

    .text__span,
    .text__animation {
        font-size: var(--font-large);
    }

    .buttons {
        flex-direction: column;
        gap: var(--spacing-12);
        margin: var(--spacing-12);
    }

    .header__picture {
        display: none;
    }

    .animation {
        margin-bottom: var(--spacing-5);
    }
}


@media (width <=412px) {
    .text__description {
        margin-bottom: var(--spacing-20);
    }


    .text__span,
    .text__animation {
        font-size: var(--font-medium);
        margin-bottom: var(--spacing-36);
    }
}