.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: var(--spacing-68);
    background-image: url(/assets/bg_experience.png);
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: lighten;
    border-radius: 16px;
    backdrop-filter: blur(10px);
}

.about-me__container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.text__container--title {
    text-align: center;
    font-family: "Liberty", sans-serif;
    font-size: 4rem;
    color: var(--color-primary);
}

.about-me__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    margin: 3rem 0 3rem 0;
}

.experiences {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: var(--spacing-16);
}

.experience__container {
    width: 60%;
    background: rgba(46, 46, 46, 0.6);
    backdrop-filter: blur(20px);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.experience__container.left {
    align-self: flex-start;
}

.experience__container.right {
    align-self: flex-end;
}

.experience__container:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.experience__container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--spacing-8);
}

.experience__container-header--title {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: var(--font-xmedium);
    color: var(--color-accent);
    line-height: 1.25;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.experience__container-header--button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-xmedium);
    width: 40px;
    height: 40px;
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease;
    animation: pulse 1.5s infinite ease-in-out;
}

.experience__container-header--button:hover {
    transform: scale(1.1);
}

/* Animación "pulse" */
@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        /* Sombra sutil en el estado normal */
    }

    50% {
        transform: scale(1.15);
        /* Aumenta el tamaño ligeramente */
        box-shadow: 0 0 10px var(--color-primary), 0 0 20px var(--color-primary);
        /* Sombra más brillante en el "pulse" */
    }
}

.experience__description {
    display: block;
    font-size: var(--font-small);
    font-family: var(--font-secondary);
    letter-spacing: 1px;
}

.skills__icons {
    width: 100%;
}

@media (width <=1200px) {
    .about-me {
        height: auto;
        margin: var(--spacing-68) 0;
    }

    .texts {
        background-position: -200px;
    }
}

@media (width <=960px) {
    .about-me {
        text-align: center;
        gap: 3rem;
        height: auto;
        background-image: none;
    }

    .experience__container {
        width: 100%;
        background: none;
        border: none;
    }

    .about-me__container {
        flex-direction: column;
    }

    .text__container--description {
        font-size: var(--font-xmedium);
        max-width: 100%;
    }

    .experience__container {
        text-align: left;
    }
}