.nav-bottom {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(138, 138, 138);
    z-index: 40;
    margin-bottom: var(--spacing-12);
}

.shadow-bottom {
    display: flex;
    flex-direction: row;
    border: 2px solid var(--color-primary);
    background-color: rgba(0, 0, 0, 0.671);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    font-size: 1.5rem;
    padding: 0.2rem 0.8rem;
    gap: 2rem;
    z-index: 40;
}


.nav-list__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--spacing-8);
    cursor: pointer;
    transition: 0.2s ease all;
    &:hover {
        color: white;
    }
}

.nav-list__link {
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    transition: 0.2s ease all;
}

.active {
    color: #EAF205;
    transform: scale(1.4)
}

@media (max-width: 768px) {
    .nav-bottom {
        align-items: center; /* Añade esta propiedad para centrar verticalmente */
    }
}