.icons__group {
    display: flex;
    flex: 1;
    gap: var(--spacing-16);
    margin-top: var(--spacing-8);
}

.icons__group--icon {
    font-size: var(--font-large);
    transition: all 0.2s ease;
    padding: 8px;
    border-radius: 50%;
    border: 1px solid var(--color-primary);

    &:hover {
        transform: scale(1.2);
        border: 1px solid var(--color-accent);
    }
}

@media (width <=1200px) {
    .icons__group {
        flex-wrap: wrap;
    }
}